{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingu</title>
    <link rel="stylesheet" href="{% static 'C:/Users/msaam/Desktop/pingu/pingu1/pingu1/static/CSS/style.css' %}">
</head>
<body>

<main>
    {% block content %}
    {% endblock %}
</main>

{% include "parts/footer.html" %}

<script src="{% static 'C:/Users/msaam/Desktop/pingu/pingu1/pingu1/static/JavaScript/javascript.js' %}"></script>
</body>
</html>
